<div bgcolor="#FFFFFF" width="100%" style="box-sizing:border-box;background:#ffffff;margin:0;padding:0;min-width:100%;direction:ltr;width:100%">
  <table bgcolor="#FFFFFF" id="m_-5483716487975950942__bodyTable__" width="100%" style="box-sizing:border-box;border-collapse:collapse;background:#ffffff;margin:0;padding:0;min-width:100%;width:100%">
    <tbody>
      <tr style="box-sizing:border-box">
        <td align="center" style="box-sizing:border-box;border-collapse:collapse">
          <span style="box-sizing:border-box;color:#ffffff;margin:0;padding:0;font-size:1px;line-height:1px;display:none">Please confirm your email address</span>
          <div style="box-sizing:border-box;background:#fafafa;font-family:Helvetica,Arial,sans-serif;font-weight:200">
            <div class="m_-5483716487975950942MailLogo" style="box-sizing:border-box">
              <a href="https://www.gitbook.com/" style="box-sizing:border-box" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.gitbook.com/&amp;source=gmail&amp;ust=1519127922020000&amp;usg=AFQjCNEtGYCac8rTbPbW3f_DqnDvfG2-gw">
                <img src="https://lh3.googleusercontent.com/4JesRFUg2WoZkgOxxgyQmO-Z5DpV83SYHmukNCzuniAWO1d7GW0UGCT2mjT3ZVF16bvPKcIYe-V0rtMgP4lKy8BcozYmVc6utb0K8IA06pN362jSSvVNxW3SD6UiPq6MpBzL_CnXxr4_CSRDcepbhzN5kO5d-RNtFeV_fYmrSVDIvjIDoNh1fKtaLbePGv676l9Royd3r0DULVlpulRCBwMFyFwaQS--1-KUIm0_L1SjBLOd7GOFISXdMdMSoXA1dO2i8dIYGMMY-XsG8Z6tLfLv5D3pWfgUBS5icsmZeV-g5XdGcBCUwSm1ihLYUf1bg7y977JAeyCvpT3dxMAKV45qllZiuxJJPv9kZj6SlLrUdlDuEpKh8cIMntYjLqmzXu9OX83AWaPrARO2fiFt61hq49rEs4x_-doCGw1jCw9-AbQSRpXGNYxgGtQB3GzeaM5dIN83xXej-_lFc5ce8Pdk1Mp4Ewc7kbFPSLiZKmDGxpK93lsKcXtDagxfCrUc9TpiHlT3O6U_aT7y515oe9WwBH5FKykGe6wePH6De4_Nnh1_Fmz9WLLSC-Ob_VnZiHTjc5Ec8d2ozm9CMUo5fJqfClvcFiTMX_6OM-g=w800-h90-no"
                  style="box-sizing:border-box;height:auto;line-height:100%;outline:0;text-decoration:none;max-width:100%;border:0;width:220px;margin-top:20px;margin-bottom:20px"
                  width="220" class="CToWUd">
              </a>
            </div>
            <div class="m_-5483716487975950942MailContent" style="box-sizing:border-box;max-width:480px;width:100%;margin:0 auto;background:#fff;text-align:center;border-radius:4px;padding:30px">
              <table cellspacing="0" cellpadding="0" border="0" style="box-sizing:border-box;width:100%;border-collapse:collapse"
                width="100%">
                <tbody style="box-sizing:border-box">
                  <tr style="box-sizing:border-box">
                    <td style="box-sizing:border-box;border-collapse:collapse">
                      <table class="m_-5483716487975950942TextContent" cellspacing="0" cellpadding="0" border="0" style="box-sizing:border-box;width:100%;border-collapse:collapse;font-size:16px;line-height:1.5em"
                        width="100%">
                        <tbody style="box-sizing:border-box">
                          <tr style="box-sizing:border-box">
                            <td class="m_-5483716487975950942Heading" style="box-sizing:border-box;border-collapse:collapse;margin:0 auto;padding:19px 0;color:#4b5c66;font-weight:200;font-size:30px;border-bottom:2px solid #eee;line-height:1.3em">Please confirm your email address</td>
                          </tr>
                          <tr style="box-sizing:border-box">
                            <td class="m_-5483716487975950942Paragraph" style="box-sizing:border-box;border-collapse:collapse;margin:0 auto;padding:19px 0;color:#89949b;font-weight:200">Thanks for creating a probolinggodev account. To complete your registration, please confirm your email
                              address by clicking the button below or using
                              <a href="{{verificationLink}}"
                                style="box-sizing:border-box" target="_blank">this link</a>.</td>
                          </tr>
                        </tbody>
                      </table>
                      <a href="{{verificationLink}}"
                        class="m_-5483716487975950942Button" style="box-sizing:border-box;background:#3884ff;border-radius:4px;padding:16px 30px;text-align:center;display:block;text-decoration:none;color:#fff;margin:19px 0;font-size:18px;font-weight:700"
                        target="_blank">Confirm email address</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="box-sizing:border-box;max-width:480px;width:100%;margin:0 auto;font-size:12px;color:#c9c8c8;padding:20px">
              <table cellspacing="0" cellpadding="0" border="0" style="box-sizing:border-box;width:100%;border-collapse:collapse"
                width="100%">
                <tbody style="box-sizing:border-box">
                  <tr style="box-sizing:border-box">
                    <td align="center" style="box-sizing:border-box;border-collapse:collapse">©
                      <a href="https://www.gitbook.com/" style="box-sizing:border-box;color:inherit;text-decoration:underline"
                        target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.gitbook.com/&amp;source=gmail&amp;ust=1519127922020000&amp;usg=AFQjCNEtGYCac8rTbPbW3f_DqnDvfG2-gw">ProbolinggoDev</a> {{year}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="yj6qo"></div>
  <div class="adL">
  </div>
</div>
